/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  h1 {
    font-size: 48px;
    color: #333;
  }
  
  h2 {
    font-size: 24px;
    color: #555;
  }
  
  p {
    font-size: 18px;
    color: #777;
  }
  
  /* styles.css */
/* ... */
p#windSpeed {
    font-size: 18px;
    color: #777;
  }
  